.wrapper
  = render "side_bar"
  = render "main_chat"
  .chat-side
    .side-header
      .side-header__box
        .side-header__box__name
          %p TECHEXP
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            %a{href: '#'}
              %i.fa.fa-edit
          %li.side-header__box__menu__new-group
            %a{href: '#'}
              %i.fa.fa-cog
    .groups
      .group
        .group__group-name techcamp
        .group__group-message まだメッセージがありません
        .group__group-name techcamp
        .group__group-message まだメッセージがありません
        .group__group-name techcamp
        .group__group-message まだメッセージがありません
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group test
        %ul.main-header__left-box__member-list  Member：
      %a{href: '#'}
        .main-header__edit-btn Edit
    .messages
      .message__upper-info
        %p.message__upper-info__toker TECHEXP
        %p.message__upper-info__date　2019/12/01(wed) 00:00:10
      .message__text 今日の天気は曇りのち雨です。
      .message__upper-info
        %p.message__upper-info__toker メンバー
        %p.message__upper-info__date　2019/12/01(wed) 00:00:10
      .message__text 今日の天気は曇りのち雨です。
      .message__upper-info
        %p.message__upper-info__toker メンバー
        %p.message__upper-info__date　2019/12/01(wed) 00:00:10
      .message__text 今日の天気は曇りのち雨です。
    .form
      .form__input-box
        .form__input-box__text
          %textarea{ placeholder: 'type a message' }
        -# .form__input-box__image
        -#   %i.far.fa-image
        %label{class: "form__input-box__image"}
          = icon('far', 'image')
          %input{type: "file"}
      .form__submit-btn
        %a.send-btn Send