* {
  box-sizing: border-box;
}

$letter-white: #FFFFFF;
$main-group-black: #333333;
$time-color: #999999;

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.wrapper{
  width: 100vw;
  height: 100vh;
}

  .chat-side{
    color: $letter-white;
    width: 300px;
    float: left;

    .side-header{
        background: #253141;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0px 20px;
    
    &__box{
      width: 100%;
      height: 20px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;

      &__name{
        float: left;
        margin: 0;
      }
      &__menu{
        float: right;
        margin: 0;
        display: flex;
        i {
          color: $letter-white;
        }
        li {
          margin-left: 5px;
        }
      }
    }
  }
    
    .groups{
      background: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px 0;

      .group{
        &__group-name{
          font-size: 15px;
          margin-bottom: 5px;
        }

        &__group-message{
          font-size: 11px;
          margin-bottom: 40px;
        }

      }
    }
  }

  .chat-main{
    width: calc(100vw - 300px);
    float: left;
    
    .main-header{
      background: $letter-white;
      height: 100px;
      display: flex;
      border-bottom: solid 1px #eee;
      justify-content: space-between;
      padding: 0px 40px;

      &__left-box{
        margin-top: 35px;
        &__current-group{
          font-size: 20px;
          color: $main-group-black;
          margin-bottom: 15px;
        }
      
        &__member-list{
          display: flex;
          font-size: 12px;
          color: $time-color;
        }
      }

      &__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        text-decoration: none;
      }
    }

    .messages{
      background: #fafafa;
      height: calc(100vh - 190px);
      padding: 46px 40px;
      .message__upper-info{
        display: flex;
        margin-bottom: 12px;

        &__toker{
        color: $main-group-black;
        font-size: 16px;
        font-weight: bold;
        }
        &__date{
        color: $time-color;
        font-size: 12px;
        }
      }
      .message__text{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 46px;
      }
     }
  }
    .form{
      background: #dddddd;
      height: 90px;
      display: flex;
      padding: 20px 40px;

      &__submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: $letter-white;
        cursor: pointer;
        line-height: 50px;
        text-decoration: none;
      }

      &__input-box{
        position: relative;
        width: 100%;

        input{
          display: none;
        }
      
        &__text{
          textarea {
            height: 50px;
            width: 100%;
            line-height: 50px;
            border: none;
            resize: none;
            box-sizing: border-box;
            border-style: none;
            padding: 0 40px 0 10px;
          }
        }
        &__image{
          i {
            font-size: 1.4rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            box-sizing: border-box;
            bottom: 15px;
            width: 30px;
            height: 30px;
            background: $letter-white;
            line-height: 30px;
            padding-left: 10px;
          }
        }
      }
    }
